<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"
          rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-resource.js
"></script>
    <script src="{{ STATIC_URL }}js/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="{{ STATIC_URL }}js/client.js"></script>
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>ZCZoft Bookstore</title>
</head>
<body ng-app="Bookstore">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bookstore</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container" ng-controller="BookCtrl">
    <script type="text/ng-template" id="frmBook">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h4 class="modal-title">Book</h4>
        </div>
        <form name="frmBook">
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name"
                           name="name" ng-model="book.name"
                           placeholder="Name ...">
                </div>

                <div class="form-group">
                    <label for="name">ISBN</label>
                    <input type="text" class="form-control" id="isbn"
                           name="isbn" ng-model="book.isbn"
                           placeholder="ISBN ...">
                </div>

                <div class="form-group">
                    <label for="name">Price</label>
                    <input type="text" class="form-control" id="price"
                           name="price" ng-model="book.price"
                           placeholder="Price ...">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="in_house"
                               ng-model="book.in_house"> In house
                    </label>
                </div>
            </div>
        </form>

        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Close
            </button>
            <button type="button" class="btn btn-primary" ng-click="save(book)">Save
            </button>
        </div>
    </script>

    <h1>Bookstore</h1>

    <div class="row">
        <div class="col-md1"></div>
        <div class="col-md10">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" ng-click="add()"
                            class="btn btn-primary add-btn">Add
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% verbatim %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>ISBN</th>
                            <th>Price</th>
                            <th>In house?</th>
                            <th>Delete?</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="book in books">
                        <tr ng-dblclick="update(book)">
                            <td>{{ book.name }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.price }}</td>
                            <td>
                                <span ng-show="book.in_house"
                                      class="glyphicon glyphicon-check"
                                      aria-hidden="true"></span>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        ng-click="delete(book)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {% endverbatim %}

                    <div>
                        <ul class="pagination">
                            <li ng-show="next" ng-click="nextPage()"><a>»</a></li>
                            <li ng-show="prev" ng-click="prevPage()"><a>«</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md1"></div>
    </div>
</div>
</body>
</html>